---
import Layout from "@layouts/Default.astro"
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro"
import MobileSocials from "@components/home/MobileSocials.astro"
// import { Pill } from "@eliancodes/brutal-ui"
// import { Button } from "@eliancodes/brutal-ui"
import { Card } from "@eliancodes/brutal-ui"

const Languages = ["JavaScript", "TypeScript", "Go", "Python", "Bash"]

const FrontEnd = ["HTML/CSS", "React", "Next", "Vue", "Tailwind"]

const BackEnd = ["Node", "Express", "Trpc", ".NET", "SQL"]

const DevOps = ["AWS", "Docker", "Kubernetes", "Git"]
---

<Layout title="Home" pageTitle="Home" description="Portfolio showcase">
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="mt-4">
      <div>
        <Card color="#22d3ee">
          <div class="flex flex-col items-start justify-between gap-4">
            <p class="outfit text-4xl md:text-5xl lg:text-7xl">
              About
              <span class="text-white">Me</span>
            </p>
            <p class="outfit text-xl md:mt-2 md:text-2xl lg:text-4xl">
              Full Stack developer, curious about DevOps technologies, currently learning Kubernetes and planning to get the Kubernetes developer
              developer in the upcoming months.
            </p>
          </div>
        </Card>
      </div>

      <RecentBlogPosts count={4} />

      <section id="skills" class="mt-8">
        <Card color="#a3e635">
          <h2 class="font-550 poppins mb-8 text-4xl md:text-5xl lg:text-7xl">Technical Skills</h2>
          <div class="grid-justify-between grid grid-cols-1 items-start gap-6 md:grid-cols-4 md:gap-14">
            <Card color="#facc15">
              <div class="md:px-4">
                <h1 class="font-500 outfit text-3xl md:text-3xl lg:text-5xl">Languages</h1>
                <ul class="mt-2 text-2xl md:mt-4 md:text-2xl lg:text-3xl">
                  {Languages.map((item) => <li class="sanchez">{item}</li>)}
                </ul>
              </div>
            </Card>
            <Card color="#fb923c">
              <div class="md:px-4">
                <h1 class="font-500 outfit text-3xl md:text-3xl lg:text-5xl">Front End</h1>
                <ul class="mt-2 text-2xl md:mt-4 md:text-2xl lg:text-3xl">
                  {FrontEnd.map((item) => <li class="sanchez">{item}</li>)}
                </ul>
              </div>
            </Card>
            <Card color="#e879f9">
              <div class="md:px-4">
                <h1 class="font-500 outfit text-3xl md:text-3xl lg:text-5xl">Back End</h1>
                <ul class="mt-2 text-2xl md:mt-4 md:text-2xl lg:text-3xl">
                  {BackEnd.map((item) => <li class="sanchez">{item}</li>)}
                </ul>
              </div>
            </Card>
            <Card color="#38bdf8">
              <div class="md:px-4">
                <h1 class="font-500 outfit text-3xl md:text-3xl lg:text-5xl">DevOps</h1>
                <ul class="mt-2 text-2xl md:mt-4 md:text-2xl lg:text-3xl">
                  {DevOps.map((item) => <li class="sanchez">{item}</li>)}
                </ul>
              </div>
            </Card>
          </div>
        </Card>
      </section>
      <section id="skills" class="mt-8">
        <Card color="#38bdf8">
          <h2 class="font-550 poppins mb-8 text-4xl md:text-5xl lg:text-7xl">Certifications</h2>
          <div class="flex flex-col gap-3 underline">
            <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential/fbd99b35578848dd807faaa3523f0a29" class="w-fit text-2xl"
              >AWS Certified DevOps Engineer - Professional Certification</a
            >
            <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential/ELH3FMSL5JE4Q33V" class="w-fit text-2xl"
              >AWS Certified Developer - Associate Certification</a
            >
          </div>
        </Card>
      </section>
    </section>
  </main>
</Layout>
