---
import type { CollectionEntry } from "astro:content"
import BlogSummaryCard from "./BlogSummaryCard.astro"

interface Props {
  posts: CollectionEntry<"projects">[]
}

const { posts } = Astro.props
---

<ul class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">
  {
    posts.map((post: any) => (
      <li>
        <BlogSummaryCard post={post} />
      </li>
    ))
  }
</ul>
