---
import { getCollection } from "astro:content"
import BlogList from "../blog/BlogList.astro"
import { Card } from "@eliancodes/brutal-ui"
import { Button } from "@eliancodes/brutal-ui"

interface Props {
  count?: number
}

const { count } = Astro.props

const posts = await getCollection("projects").then((posts) =>
  posts.reverse().slice(0, count)
)
---

<section class="mt-8">
  <Card color="#facc15">
    <div class="flex items-start justify-between">
      <h2 class="dm-serif mb-8 text-4xl md:text-5xl lg:text-7xl">
        Recent Projects
      </h2>
      <div class="hidden md:block">
        <Button href="/projects/">Go to projects &rarr;</Button>
      </div>
    </div>
    <BlogList posts={posts} />
    <div class="mt-8 flex justify-end md:hidden">
      <Button href="/projects/">Go to projects &rarr;</Button>
    </div>
  </Card>
</section>
